@model IEnumerable<Cochera.Models.Persona>

@{
    ViewBag.Title = "Estadias";
}

<h2>Estadias</h2>

<p>
    @Html.ActionLink("Agregar persona", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Historial", "Historial", new { id=item.Id }) |
            @Html.ActionLink("Generar comprobante", "GenerarComprobante", new { id=item.Id })
        </td>
    </tr>
}

</table>
