@model IEnumerable<Cochera.Models.TipoVehiculo>

@{
    ViewBag.Title = "Vehiculos";
    var minimo = ViewBag.MinutosMinimos;
    var medio = ViewBag.MinutosMedios;
    var extra = ViewBag.MinutosExtras;
}

<h2>Tipo Vehiculos</h2>

<p>
    @Html.ActionLink("Crear tipo vehiculo", "Create")
</p>
<br />
<div class="alert alert-warning text-center" role="alert">
    <span>El tiempo <strong>mínimo</strong> es de @minimo minutos. El tiempo <strong>medio</strong> es de @medio minutos. El tiempo <strong>extra</strong> es de @extra minutos.</span>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoMinimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoMedio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoExtra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostoMinimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostoMedio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostoExtra)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
